#You must exclude everything on the way to the destinations, but you must include the destinations:

/*


!/.gitignore

!/application
/application/*
!/application/views
/application/views/*
!/application/views/updesk/
#!/application/views/updesk/*
!/application/views/upmob/


!/out
/out/*
!/out/updesk
/out/updesk/node_modules
/out/updesk/src/css/*

!/modules
/modules/*
!/modules/uppl/

/modules/uppl/_archive


