<?xml version="1.0" encoding="UTF-8"?>
<OX>
  <OXMENU id="KMUdo1">
    <MAINMENU id="KMUDO_MODUL1">
        <SUBMENU cl="upvendororder_main" id="upvendororder_main" rights="malladmin" />
        <SUBMENU cl="upvendororder_pending" id="upvendororder_pending" rights="malladmin" />
    </MAINMENU>
  </OXMENU>
</OX>