<?xml version="1.0" encoding="ISO-8859-15"?>
<OX>
    <OXMENU id="NAVIGATION_ESHOPADMIN">
    
        <MAINMENU id="mxmanageprod">
            <SUBMENU id="mxarticles" cl="article" list="article_list">
                <TAB id="tbclarticle_stockhistory" cl="upbetterstockarticle_stockhistory" />
		        <TAB id="tbclarticle_pendingorders" cl="upbetterstockarticle_pendingorders" />
          
            </SUBMENU>
         </MAINMENU>
    </OXMENU>
</OX>